* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #59f3b3;
    --white: #fff;
    --color: rgb(21, 188, 188);
    --from: 30deg;
    --distance: 46%;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background: transparent;
    /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5); */
    width: 100%;

}

.logo h1 {
    font-size: 2rem;
    font-weight: 560;
    color: var(--color);
}

.logo h1>span {
    color: #333;
}

header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

header .navbar li {
    font-size: 1.2rem;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

header .navbar li:hover {
    color: var(--color);
}

.btn {
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    background: var(--color);
    color: var(--white);
    cursor: pointer;
    transition: all 0.2s linear;
}

.btn:hover {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

/* Blobs SVG background image via https://haikei.app/ */





.home {
    width: 100%;
    height: 100vh;
    background: url('./image/blog.svg') no-repeat bottom / cover;
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    z-index: -1;

}

.home .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10% 10%;
}

.home-text {
    flex: 1 1 30rem;
}

.home-text h1 {
    font-size: 3.5rem;
    color: #fff;
    width: 380px;
    line-height: 3rem;
    text-transform: uppercase;
    z-index: 1;
}

.home-text h1>span {
    font-size: 3rem;
    font-weight: 500;
}

.home-text p {
    margin-top: 1rem;
    width: 350px;
    font-size: 1.2rem;
    color: #fff;
}

.home-text .btn {
    margin-top: 1rem;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
}

.home-text .btn:hover {
    letter-spacing: 1px;
}

.image {
    flex: 1 1 30rem;
    /* border-radius: 50%; */
    z-index: 1;
}

.image img {
    width: 100%;
    height: 100%;

}

/* dot image */
.dot {
    position: absolute;
    top: 10%;
    right: 4%;
    z-index: 0;
    opacity: 0.2;
}

.dot:nth-of-type(2) {
    top: 80%;
    right: 38rem;
    /* width: 140px; */
}

.dot:nth-of-type(2)>img {
    width: 140px;
}

.dot:nth-of-type(3) {
    top: 20%;
    left: 2rem;
    /* width: 140px; */
}

.dot:nth-of-type(3)>img {
    width: 140px;
}

.about {
    height: 100vh;
    width: 100%;
    padding: 8rem 20%;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 2.5rem;
    transition: all 0.3s linear;
}


.about .container {
    margin-top: 3rem;
    align-items: center;
    text-align: center;
}

.about .container p {
    font-size: 1.2rem;
}

.icons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.icons .box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.icons .box div {
    text-align: start;
}

.icons .box div>h4 {
    font-size: 2rem;
}

.icons .box div>p {
    font-size: 1rem;
    text-transform: uppercase;
}

.about .container .btn {
    margin-top: 3rem;
    border-radius: 4rem;
    text-transform: uppercase;
}

.about .dot:nth-of-type(1) {
    top: 110vh;
    opacity: 0.1;
}

.about .dot:nth-of-type(2) {
    top: 130vh;
    left: 4rem;
    opacity: 0.1;
}

.about .dot:nth-of-type(3) {
    top: 170vh;
    left: 20rem;
    opacity: 0.1;
}

.about .dot:nth-of-type(4) {
    top: 170vh;
    right: 12rem;
    opacity: 0.1;
}

/* Features section */
.features {
    width: 100%;
    height: 80vh;
    background: url('./image/blog.svg') no-repeat bottom / cover;
    z-index: -1;
    padding: 0rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feature-container {
    flex: 1 1 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.feature-box {
    width: 250px;
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.feature-box i {
    font-size: 1.8rem;
    color: rgb(232, 33, 232);
    padding-bottom: 1rem;
}

.feature-box h4 {
    font-size: 1.3rem;
    padding-bottom: 0.8rem;
}

.feature-box p {
    color: #444;
}

.feature-text {
    flex: 1 1 20rem;
}

.feature-text h4 {
    font-size: 2rem;
    color: #fff;
    padding-bottom: 1rem;
}

.feature-text p {
    font-size: 1.2rem;
    color: #fff;
    padding-bottom: 1rem;
}

.feature-text .btn {
    background: transparent;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 2rem;
    transition: all 0.3s linear;
}

.feature-text .btn:hover {
    letter-spacing: 1px;
}

.features .dot:nth-of-type(1) {
    top: 220vh;
    right: 1rem;
}

.features .dot:nth-of-type(1)>img {
    width: 140px;
}

.features .dot:nth-of-type(2) {
    top: 255vh;
    left: 4rem;
}

/* clients comments */

.clients {
    height: 100vh;
    width: 100%;
    padding-top: 6rem;
}

.text-support {
    text-align: center;
    width: 380px;
    color: #444;
    font-size: 1.1rem;
    margin: 0.5rem auto;
}

.clients-slider {
    display: flex;
    justify-content: center;
    text-align: start;
    flex-wrap: wrap;
    gap: 2rem !important;
    width: 100%;
    padding: 2rem 9%;
    height: 50vh;
}

.slick-dots {
    width: 100% !important;
    margin-left: -6rem !important;
}

.client-box {
    flex: 1 1 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem;
    margin-left: 0.8rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    border: 2px solid #333;
}


.client-box i {
    font-size: 2.5rem;
    color: pink;
}

.client-box p {
    font-size: 1.1krem;
    color: #444;
}

.client-box .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.client-box .detail img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 2rem 0.5rem;
}

.client-box .detail>div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-content: center;
}

.client-box .detail>div .name {
    font-size: 1.2rem;
}

.client-box .detail>div .title {
    font-size: 1rem;
    color: #444;
}

.clients .dot:nth-of-type(1) {
    top: 295vh;
    z-index: 1000;
    opacity: 0.2;
}

.clients .dot:nth-of-type(2) {
    top: 350vh;
    left: 2rem;
    z-index: 1;
    opacity: 0.6;
}

.download {
    width: 100% !important;
    height: 50vh;
    background: url('./image/blog.svg') no-repeat bottom / cover;
    padding: 3rem 10%;
}

.download .heading,
.text-support {
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: 4rem;

}

.buttons .down {
    display: flex;
    align-items: center;
    border: 2px #fff solid;
    width: 250px;
    height: 80px;
    padding: 1rem 2rem;
    border-radius: 4rem;
    gap: 1rem;
    cursor: pointer;
}

.down i {
    font-size: 2rem;
    color: #fff;
}

.down>div {
    color: #fff;
}

/* plan section */
.plan {
    width: 100%;
    height: 100vh;
    background: #fff;
}

.plan .heading {
    padding-top: 2rem;
}

.plan .plan-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 10%;
}

.plan-container .plan-box {
    background: #eee;
    width: 250px;
    height: 380px;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s linear;
}

.plan-container .plan-box:hover {
    transform: scale(1.1);

}

.plan-box>span {
    color: var(--color);
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.plan-box .package {
    background: #fff;
    width: 100%;
    height: 40%;
    text-align: center;
    padding-bottom: 1rem;
}

.plan-box .package h4 {
    font-size: 4rem;
    margin-top: 2rem;
    line-height: 3rem;
    color: var(--color);
}

.plan-box .package span {
    color: #626262;
    /* margin-top: -4rem; */
    font-size: 1rem;
}

.plan-box ul {
    margin-top: 1rem;
}

.plan-box ul li {
    margin-top: 0.3rem;
    list-style: square;
    color: var(--color);
    font-size: 1rem;
}

.plan-box .btn {
    margin-top: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: lighter;
    opacity: 0.3;
    transition: all 0.3s linear;
}

.plan-box:hover .btn {
    opacity: 1;
}

.mobile {
    width: 100%;
    height: 100vh;
    background: rgb(255, 239, 255);
    padding-top: 0.5rem;
}

.mobile-container {
    /* margin-top: 1rem; */
    height: 100%;
    width: 100%;
    padding: 0rem 10%;
}

.mobile-container>img {
    width: 100%;
    height: 80%;
}


.work {
    width: 100%;
    height: 100%;
    padding: 2rem 7%;
}

.work .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
}

.work .container:nth-of-type(2),
.work .container:nth-of-type(3) {
    margin-top: 8rem;
}


.container .work-image {
    flex: 1 1 20rem;
}

.container .work-text {
    flex: 1 1 20rem;
}

.container .work-text h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container .work-text p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.container .work-text .btn {
    border-radius: 2rem;
    font-weight: lighter;
    background: transparent;
    border: 2px solid var(--green);
    color: var(--green);
    box-shadow: none;
}

.container .work-text .btn:hover {
    background: var(--green);
    color: #fff;
}

/* contact form */

.contact {
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    background: url('image/blog.svg') no-repeat center center / cover;
}

.contact .contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    gap: 3rem;
    margin-top: 4rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.contact-links .link-box {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.link-box>div {
    font-size: 2rem;
    color: var(--color);
    width: 4rem;
    height: 4rem;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    transition: all 0.2s linear;
    cursor: pointer;
}

.link-box>div:hover {
    color: #626262;
}

.link-box span {
    color: var(--color);
    font-size: 1.2rem;
}

.link-box p {
    text-transform: lowercase;
    color: #fff;
    cursor: pointer;
}

.map {
    width: 600px;
    height: 400px;
    /* margin-left: -2rem; */
    display: flex;
    justify-content: center;
}

.map img {
    width: 100%;
    height: 100%;
}

#footer {
    width: 100%;
    background: #333;
}

#footer h1 {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem 0;
    margin: 0;
}

#footer h1 span {
    color: #008894;

}


.loader {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: springgreen;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.loader h3 {
    position: relative;
    color: #333;
    font-size: 50px;
    font-weight: 500;
}

.loader .text {
    overflow: hidden;
}

.line-container {
    position: relative;
    width: 450px;
    height: 6px;
    overflow: hidden;
    border-radius: 10px;
}

.line {
    position: absolute;
    width: 450px;
    height: 6px;
    background: #333;
    right: 0;
    overflow: hidden;
}

h2 {
    font-weight: 500;
    font-size: 50px;
    transform: translateY(-100px);
    font-family: "Berkshire Swash", cursive;
}